<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Document
  link(rel="stylesheet", href="css/main.css")
body
  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem voluptas itaque exercitationem perspiciatis laudantium debitis reprehenderit optio quis, soluta aliquam quaerat sit atque sunt libero a accusantium facilis, quasi unde?
  div.
     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptas saepe, minus qui officiis, numquam quidem nam nobis non optio ad obcaecati a laboriosam repellat quis nulla in velit facere!
    